body{
	background-color: #F0F0F0;
	font-family: Verdana;
	font-size: 90%;
}

div #wrapper{
	margin: 0;
	max-width: 1020px;
	width: 99%;
	border: 1px solid #8D177B;
	border-radius: 2px;
	box-shadow: 0 0 5px 0  rgba(12, 3, 25, 0.8);
	padding: 5px;
}{
	width: 60px;		
	height: auto;
}

#logo a {
	text-decoration: none;
	text-align: center;	
}

#logo p {
	color: #f0f0f0;
	font-size: 90%;
    font-family: 'Tangerine', cursive;
}

/* header/nav */
body > div > header {
	background-color: #8D177B;
	height: 150px;
	padding: 5px;
}

#logo {
	float: left;
	margin-top: 20px;
	margin-left: 20px;

}

#logo img {
	width: 60px;		
	height: auto;
}

#logo a {
	text-decoration: none;
	text-align: center;	
}

#logo p {
	color: #f0f0f0;
	font-size: 90%;
    font-family: 'Tangerine', cursive;
}

nav {
    float: right;
    margin-right: 20px;
    margin-top: 70px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block
}

nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    font-family: 'Tangerine', cursive;
    font-size: 160%;
    padding: 10px 10px 5px 10px;
}

nav ul li a.active, nav ul li a:hover {
    background-color: #A23391;
    border-radius: 5px;
}

/* main content */
#content {
    margin-top: 20px;
}

.threecol {
    float: left;
    width: 28%;
    margin-left: 1%;
    margin-right: 4%;
    text-align: center;
}

.lastcol {
    margin-right: 1%;
}

article header {
    font-size: 200%;
    font-family: 'Tangerine', cursive;
}

article img {
    max-width: 100%;
}

/* footer */
body > div > footer {
    float: none;
    clear: both;
    background-color: #8D177B;
    color: #f0f0f0;
    height: auto;
    overflow: hidden;
}

footer h3 {
    font-family: 'Tangerine', cursive;
    font-size: 200%;
    font-weight: normal;
}

footer p {
    font-family: Verdana, sans-serif;
    font-size: 90%;
}

footer section ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

footer section ul li {
    display: inline-block;
}

footer section ul li img {
    width: 40px;
}