extends layout
block content
	h1= title
	p= description
	p This is a filler paragraph for the index page.
	if (!username || (username == ''))
		p You are not logged in
	else
		p You are logged in as #{username}.
